<form [formGroup]="form" (ngSubmit)="submit(form.value)">
    <h1 mat-dialog-title>Ermegency Help Services</h1>
    <h3>1 - I feel unsafe. Track my location.</h3>
    <h3>2 - Need police service at my address. </h3>
    <h3>3 - Red alert. Send help now.</h3>
    <mat-dialog-content>
      <mat-form-field>
        <input matInput type="number" min="1" max="3" formControlName="rating" placeholder="Input digit" ngControl="rating">
      </mat-form-field>
      <div>
          <ng-container *ngFor="let error of error_messages.rating">
              <mat-error class="error-message" *ngIf="form.get('rating').hasError(error.type) && (form.get('rating').dirty || form.get('rating').touched)">
                  {{ error.message }}
              </mat-error>
          </ng-container>
      </div>
  
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!form.valid">Submit</button>
      <button mat-button type="button" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>
  