 <div class="test"> 
 <h1 class="main-title">Common Period Questions</h1>    
 </div>

<!-- <div class="container">
        <h2 class="sub">Irregular Cycles</h2>
        <p>According to the research, most Flo app users who completed the PCOS questionnaire were coming from the following five countries: United States (U.S.), United Kingdom (U.K.), India, the Philippines, and Australia.
        On the infographic below you can see the allocation rate of self-reported PCOS cases in percentages among these countries:</p>

        <h2 class="try">Cramps</h2>
        <p>According to the research, most Flo app users who completed the PCOS questionnaire were coming from the following five countries: United States (U.S.), United Kingdom (U.K.), India, the Philippines, and Australia.
        On the infographic below you can see the allocation rate of self-reported PCOS cases in percentages among these countries: dvi ikrdbcuisbfc ikdydg fisgduf ijdydbif difcufbhif dxudbuifhfc dudbfif dxuidbvifc.cudcvifbv 
        coldcbnvi dxjdxg djc dxhydxuifc cdudxbv cudxbujcd cudxbcujd chucxv hcb.</p> 
</div> -->
 
 
<div class="container" fxLayoutWrap>
<div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start" >
        <img src="assets/images/gold.png">
        <h2>What is a period and why do we have them?</h2>
  </div> 
  <p>Simply put: A period is when a woman’s body releases tissue it no longer needs. This tissue comes from the uterus, which
     is where a baby (fetus) can develop in the female body. Every month or so, the uterus lining gets thicker to prepare for a 
     fertilized egg if the woman becomes pregnant. If the egg doesn’t get fertilized, that lining is released from the body as 
     blood through the vagina. This monthly process is called menstruation or a period.So when a girl has her period, her body is 
     just getting rid of a small amount of blood and some unneeded tissue. It is a natural, normal body process for all females as 
     they become women and mature physically.</p>
    <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
        <img src="assets/images/grey.png">
        <h2>What does a period feel like?</h2>
  </div> 
  <p>The actual flow of your period doesn’t feel like much when it’s happening. Chances are, you won’t even feel it coming out. 
    When you actually start your period, you may feel some dampness in your private area — this may be caused by a few spots of 
    blood on your underwear..</p> 
    <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
        <img src="assets/images/gold.png">
        <h2>Does having your period smell?</h2>
  </div> 
  <p>It shouldn’t! Menstrual odor happens when menstrual fluid comes in contact with air. When menstrual fluid is absorbed within the vagina, like through a tampon, it is not exposed to the air, so there shouldn’t be an odor. If you’re feeling worried,
     just be sure to change your pads and tampons frequently to help keep odor at bay</p>
    <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
        <img src="assets/images/grey.png">
        <h2>Does having your period hurt?</h2>
  </div> 
  <p>Menstruation itself doesn’t hurt, but some girls and women get cramps or other symptoms during their periods that may be uncomfortable. This is typically due to the hormones your body releases during
     menstruation that cause the uterus to contract so it can shed it’s lining.</p> 
    <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
        <img src="assets/images/gold.png">
        <h2>Is there anything I won’t be able to do when I have my period?</h2>
  </div> 
  <p>Your period doesn’t have to stop you from doing things you usually do. You can still go to school, help at home, see your friends, 
    play sports and do all the things you’d normally do.</p>
    
</div>
