 <div class="test"> 
       
  <h1 class="main-title">Mental Health Questions</h1>    
 </div>
    
  <div class="container" fxLayoutWrap>
  <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start" >
          <img src="assets/images/gold.png">
          <h2>Where Can I Go To Find Therapy?</h2>
    </div> 
    <p>Different kinds of therapy are more effective based on the nature of the mental health condition and/or symptoms and the person who has them (for example, children will benefit from a therapist who specializes in children’s mental health). However, there are several different types of treatment and therapy that can help.</p>
      
    <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
          <img src="assets/images/grey.png">
          <h2>Where Can I Learn About Types Of Mental Health Treatment?</h2>
    </div> 
    <p>Mental health conditions are often treated with medication, therapy or a combination of the two. However, there are many different types of treatment available, including Complementary & Alternative Treatments, self-help plans, and peer support. Treatments are very personal and should be discussed by the person with the mental health conditions and his or her team.</p> 
      
    <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
          <img src="assets/images/gold.png">
          <h2>What Are The Different Types Of Mental Health Professionals?</h2>
    </div> 
    <p>There are many types of mental health professionals. Finding the right one for you may require some research.</p>
      
    <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
          <img src="assets/images/grey.png">
          <h2>Where Can I Go To Find A Support Group?</h2>
    </div> 
    <p>Many people find peer support a helpful tool that can aid in their recovery. There are a variety of organizations that offer support groups for consumers, their family members and friends. Some support groups are peer-led, while others may be led by a mental health professional.</p> 
      
    <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
          <img src="assets/images/gold.png">
          <h2>Where Can I Go To Find Inpatient Care?</h2>
    </div> 
    <p>If you or someone you know is in crisis, inpatient care can help. Inpatient care can help people stabilize on new medications, adjust to new symptoms, or get the help they need.</p>
    
    <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
      <img src="assets/images/grey.png">
      <h2>Where Can I Go To Find Other Local Services?</h2>
    </div> 
    <p>There are likely plenty of resources that can be used to help you find mental health treatment in your community. These resources can help you find the right therapist, and enable you to better understand viable treatment options and the treatment process.</p>
    
    <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
    <img src="assets/images/gold.png">
      <h2>Where Can I Learn More Information About Clinical Trials?</h2>
    </div> 
<p>Sometimes, consumers of mental health services may consider participating in a research study when they have not experienced improvement despite having tried a variety of medications and treatments. Research studies (also known as clinical trials) may involve the use of new medications or new treatment approaches whose safety and effectiveness is being tested. While we support innovation in the field, consumers should be cautioned that there are risks associated with clinical trials – make sure you’re aware of them before you enroll.</p>
      
  </div>
 