
   <img src="assets/images/daisy.jpg">    
   
   <h2 class="main-title">"she is a queen, her soul is royalty" -- adrian michael</h2>    

        <!-- <div class="container">
         <h1 class="sub-title"> Take courage </h1>   
         <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
            <img class="small" src="assets/images/gold.png">
            <h2>Track your period</h2>
            </div> 
            <p>According to the research, most Flo app users who completed the PCOS questionnaire were coming from the following five countries: United States (U.S.), United Kingdom (U.K.), India, the Philippines, and Australia.
               On the infographic below you can see the allocation rate of self-reported PCOS cases in percentages among these countries:</p>  
               <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
                  <img class="small" src="assets/images/grey.png">
                  <h2>Learn more about your body</h2>
                  </div> 
                  <p>According to the research, most Flo app users who completed the PCOS questionnaire were coming from the following five countries: United States (U.S.), United Kingdom (U.K.), India, the Philippines, and Australia.
                     On the infographic below you can see the allocation rate of self-reported PCOS cases in percentages among these countries:</p> 
                     <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
                        <img class="small" src="assets/images/gold.png">
                        <h2>Receive health assistance</h2>
                        </div> 
                        <p>According to the research, most Flo app users who completed the PCOS questionnaire were coming from the following five countries: United States (U.S.), United Kingdom (U.K.), India, the Philippines, and Australia.
                           On the infographic below you can see the allocation rate of self-reported PCOS cases in percentages among these countries:</p>       
               


        </div> -->




    
   


