
img{
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}


body {
    padding-top: 3.5em;

}

#header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: sticky; 
    top: 0;
    width: 100%;
}

     #header a {
        color: inherit;
        text-decoration: none;
    }

    #header ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

        #header ul li {
            display: inline-block;
            padding-left: 0;
        }

     #header .one {
        height: inherit;
        line-height: inherit;
        margin-left: 5px;
        white-space: nowrap;

    }
 
/* 			#header h1 a {
            font-size: 0.7em;
        }  */

    #header .links {
        flex: 1;
         border-left: solid 1px rgba(160, 160, 160, 0.3);  /* the big order */
        height: inherit;
        line-height: inherit;
        margin-left: 1.5em;
        overflow: hidden;
        padding-left: 1.5em;
    }

        #header .links ul li {
        border-left: solid 1.5px black; /* small borders */
            line-height: 1;
            margin-left: 1em;
            padding-left: 1em;
            
        }
         

        #header .links  > ul li a:hover{
            color: #f6c616;
        }

     /*    #header .links > a:hover{
            color: #f6c616;
        } */

            #header .links ul li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

/* 				#header .links ul li a {
                border-bottom: 0;
                font-family: "Raleway", Helvetica, sans-serif;
                font-size: 0.7em;
                font-weight: 400;
                letter-spacing: 0.25em;
                text-transform: uppercase;
            }
*/

#two{
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}
