<div class="test">
    <h1 class="main-title">Gender Based Violence Questions</h1>    
</div>
 
    <!-- <div class="container">
            <h2 class="sub">Irregular Cycles</h2>
            <p>According to the research, most Flo app users who completed the PCOS questionnaire were coming from the following five countries: United States (U.S.), United Kingdom (U.K.), India, the Philippines, and Australia.
            On the infographic below you can see the allocation rate of self-reported PCOS cases in percentages among these countries:</p>
    
            <h2 class="try">Cramps</h2>
            <p>According to the research, most Flo app users who completed the PCOS questionnaire were coming from the following five countries: United States (U.S.), United Kingdom (U.K.), India, the Philippines, and Australia.
            On the infographic below you can see the allocation rate of self-reported PCOS cases in percentages among these countries: dvi ikrdbcuisbfc ikdydg fisgduf ijdydbif difcufbhif dxudbuifhfc dudbfif dxuidbvifc.cudcvifbv 
            coldcbnvi dxjdxg djc dxhydxuifc cdudxbv cudxbujcd cudxbcujd chucxv hcb.</p> 
    </div> -->
     
     
    <div class="container" fxLayoutWrap>
    <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start" >
            <img src="assets/images/gold.png">
            <h2>What is the Victim Empowerment Programme (VEP)?</h2>
      </div> 
      <p>A Government programme committed to intensify and accelerate efforts to achieve the elimination of all forms of violence against women and children. The South African Government is committed to investigating the root and underlying causes of Gender Based Violence, and has already developed va national action plan that will ensure a stronger, collaborative and more focused response to violence against women and children.</p>
        <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
            <img src="assets/images/grey.png">
            <h2>What can VEP do for me as a victim?</h2>
      </div> 
      <p>VEP empowers you by providing information necessary to educate you about violence against women and children, support you and lead you to help facilities.</p> 
        <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
            <img src="assets/images/gold.png">
            <h2>Can I make an anonymous report of abuse?</h2>
      </div> 
      <p>Yes, we have a private platform where victims can communicate with social workers.</p>
        <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
            <img src="assets/images/grey.png">
            <h2>Will I be able to get help whenever needed?</h2>
      </div> 
      <p>Yes, as soon as a social worker is available.</p> 
        <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
            <img src="assets/images/gold.png">
            <h2>How old do I have to be to report a case</h2>
      </div> 
      <p>There is no age restriction when reporting a case.</p>
      <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
        <img src="assets/images/grey.png">
        <h2>What issues can I report?</h2>
  </div> 
  <p>Human trafficking, Abuse of Older Persons, child sexual assault, domestic violence, Abuse of Persons with Disabilities, and sexual assault.</p>
  <div class="sub" fxLayout="row"  fxLayoutWrap fxLayoutAlign="start">
    <img src="assets/images/gold.png">
    <h2>What do I do if someone I know is a victim of abuse?</h2>
</div> 
<p>You can report a case on the person’s behalf.</p>
        
    </div>
