
  .main-title{
    margin-top: 50px;
    font-family: keep-calm;
    color: black;
    /* margin-left: 80px;  */
   /*  padding: 0.7em 0; */
    text-align: center;
  }

  p{
    text-align: center;
  }

  .container{
    background-color: whitesmoke;
    background-image: url("../../assets/images/light.jpg");
    margin-right: 9rem;
    margin-left: 9rem;
    padding-top: 2%;
    padding-bottom: 3%;
  }

  /* .period{
    float: left;
  }

  .ovulation{
    float: left;
  } */



table{
    border-collapse: collapse;
}


table, th, td {
    border: 1px solid rgb(160, 160, 160);
    height: 20px;
    text-align: center;
    border-collapse: collapse;
}

th{
    background-color: grey;
    color: white;
}

td{
    background-color: white;
}

tr {
    height: 70px;
    width: 150px;
}

td {
    width: 150px;
}

 .calendar{
    margin-left: 5rem;

}

.editMe, .ovulation{
  display: flex;
  align-items: center;
  justify-content:inherit;
}

.btns{
  background-color: #7C593A;
  color:white
}
