.container{
    background-image: url("../../assets/images/bloom.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


h1{
    margin-top: 1rem;
    font-family: keep-calm;
}


.btns{
    background-color: #7C593A;
    color:white
}

#one{
    margin: 5%;
} 

.regForm{
    width: 20%;
    text-align: center;
/*     margin-left: rem; */
    /* margin-top: 6rem; */
}

.regFormContent{
    margin-top: 1rem;
}

.cardTitle{
    margin-left: 1rem;
    margin-top: 1rem;
}
#passError{
    color: red;
}


img{ 
    width: 75%;
    height: 75%;
    padding-left: 1.5rem;
  /*   padding-top: 1rem;   */ 
}